@model Camp.Data.Entity.Diet
@{
    ViewData["Title"] = "Vytvořit stravu";
    ViewData["Icon"] = "mdi-plus-circle";
}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample" asp-controller="Diet" asp-action="Create" method="post">
                    <div class="form-group">
                        <label for="Name">Název stravy</label>
                        <input type="text" asp-for="Name" class="form-control" placeholder="Název stravy">
                        <span asp-validation-for="Name" class="invalid-field"></span>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="PersonPrice">Cena pro dospělé</label>
                            <input type="text" asp-for="PersonPrice" class="form-control" placeholder="Cena pro dospělé">
                            <span asp-validation-for="PersonPrice" class="invalid-field"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ChildrenPrice">Cena pro děti</label>
                            <input type="text" asp-for="ChildrenPrice" class="form-control" placeholder="Cena pro děti">
                            <span asp-validation-for="ChildrenPrice" class="invalid-field"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Vytvořit</button>
                    <a asp-area="Administration" asp-controller="Diet" asp-action="Index" class="btn btn-light">Zpět</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}