@model int
@{
    Layout = null;
    var statusCode = Model;
    var statusmessage = "";
    switch (statusCode)
    {
        case 400:
            statusmessage = "Chybný požadavek. Žádost nemůže být splněna kvůli špatné syntaxi!";
            break;
        case 403:
            statusmessage = "Zakázáno!";
            break;
        case 404:
            statusmessage = "Požadovaná stránka nebyla nalezena!";
            break;
        case 408:
            statusmessage = "Čas pro žádost vypršel!";
            break;
        case 500:
            statusmessage = "Interní chyba serveru - server nemohl dokončit zpracování žádosti!";
            break;
        default:
            statusmessage = "To je zvláštní ... Něco, co jsme nečekali, se stalo!";
            break;
    }
}
<!DOCTYPE html>
<html lang="cs">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Račí údolí - Chyba</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Admin/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Admin/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Admin/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Admin/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
            <div class="content-wrapper d-flex align-items-center text-center error-page bg-primary">
                <div class="row flex-grow">
                    <div class="col-lg-7 mx-auto text-white">
                        <div class="row align-items-center d-flex flex-row">
                            <div class="col-lg-6 text-lg-right pr-lg-4">
                                <h1 class="display-1 mb-0">@statusCode</h1>
                            </div>
                            <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
                                <h2>Omlouváme se!</h2>
                                <h3 class="font-weight-light">@statusmessage</h3>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12 text-center mt-xl-2">
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12 mt-xl-2">
                                <p class="text-white font-weight-medium text-center">Copyright &copy; 2018 Všechna práva vyhrazena.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Admin/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Admin/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/Admin/js/off-canvas.js"></script>
    <script src="~/Admin/js/misc.js"></script>
    <!-- endinject -->
</body>
</html>